nav {
  background-color: #1b1a17;
  height: 60px;
  display: flex;
  justify-content: center;
  z-index: 1;

  .nav-container {
    display: flex;
    width: 1140px;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;

    .nav-left {
      display: flex;

      a {
        color: #fff;
        text-decoration: none;
        color: #f0a500;
      }
    }
    .nav-right {
      .badge {
        align-items: center;
        margin-right: 10px;
        color: #f0a500;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
