input[type='text'] {
  padding: 1rem;
  width: 300px;
  border-radius: 5px;
}

.home {
  min-height: 90vh;
  .home-container {
    .movie-container {
      margin: 1rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .home {
    display: flex;
    justify-content: center;
    .home-container {
      .movie-container {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home {
    .home-container {
      .movie-container {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}
